*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif; }

body {
  height: 100vh;
  background-color: #f7ede2;
  position: relative;
  overflow: hidden;
  box-sizing: inherit; }

.itemleft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  top: 5rem;
  left: 5rem; }
  .itemleft__text {
    position: relative;
    color: #3e5c76;
    font-size: 6rem;
    font-weight: 100; }
  .itemleft__first-text {
    color: #1d2d44; }

.itembutton {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  top: 5rem;
  left: 5rem; }

.itemright {
  background-size: cover;
  background-position: top;
  position: relative; }
  .itemright_photo {
    position: absolute; }
    .itemright_photo--p1 {
      width: 60%;
      left: 20%;
      z-index: 500; }

.itemleft__text.itemleft__sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f7ede2;
  border-left: 1px solid #3e5c76;
  animation: animate 4s steps(40) infinite; }

@keyframes animate {
  40%, 60% {
    left: 100%; }
  100% {
    left: 0%; } }

.column {
  justify-content: center;
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; }

.row {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.header {
  height: 100vh;
  background-color: #3e5c76;
  background-size: cover;
  background-position: top;
  padding: 25rem 0;
  position: relative; }
  .header_right {
    position: relative; }
    .header_right_photo--p1 {
      width: 80%;
      position: absolute;
      left: 6rem;
      top: -6rem;
      border: #3e5c76;
      z-index: 500;
      transition: all .2s; }
      .header_right_photo--p1:hover {
        transform: translateY(-2rem); }
  .header_right-stroke {
    float: left;
    border: 3px solid #3e5c76;
    width: 80%;
    height: 43rem;
    transition: all .2s;
    z-index: -1; }
    .header_right-stroke:hover {
      transform: translateX(-2rem); }

.nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__navigation {
    position: relative;
    display: flex; }
  .nav__list {
    list-style: none; }
  .nav__link {
    display: flex;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    position: relative;
    transition: 0.5s; }
    .nav__link:hover {
      background-position: right center;
      /* change the direction of the change here */
      background-color: #e6ded6; }

.btn {
  margin-top: 3rem;
  padding: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  text-decoration: none; }

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */ }

.btn-1 {
  background-image: linear-gradient(to right, #19273c 0%, #19273c 50%, #3e5c76 50%, #3e5c76 100%); }
