*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1d2d44;
  font-family: 'Heebo', sans-serif; }

body {
  color: #1d2d44;
  background: #f1faee;
  box-sizing: border-box;
  padding: 0; }

.header {
  height: 100vh;
  background-color: #f1faee;
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden; }

.section-project {
  padding: 1px 0 0 0;
  margin-top: 0; }

.h1 {
  font-weight: 900;
  color: #1d2d44;
  font-size: 1.4em; }

.h2 {
  font-weight: bold;
  color: #1d2d44;
  font-size: 4em; }

.h3 {
  font-size: 1.8em;
  font-weight: 900; }

.main {
  height: 100vh; }

.itemleft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  top: 3rem;
  left: 5rem; }
  .itemleft__text {
    position: relative;
    color: #19273c;
    font-size: 4.2rem;
    font-weight: bold; }
  .itemleft__first-text {
    color: #1d2d44;
    font-weight: 300 !important; }

.itemleft-stage {
  justify-content: space-between !important;
  margin-bottom: 2rem; }

.itembutton {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  top: 5rem;
  left: 5rem; }

.itemright {
  background-size: cover;
  background-position: top;
  position: relative; }
  .itemright_photo {
    position: relative; }
    .itemright_photo--p1 {
      width: 60%;
      left: 30%; }

.itemleft__text.itemleft__sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f1faee;
  border-left: 1px solid #19273c;
  animation: animate 4s steps(40) infinite; }

@keyframes animate {
  40%, 60% {
    left: calc(100% + 5px); }
  100% {
    left: 0%; } }

.column {
  justify-content: center;
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; }

.row {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.margin-bot {
  margin-bottom: 3rem !important; }
  .margin-bot_head {
    margin-bottom: 1rem !important; }
  .margin-bot_h1card {
    margin-bottom: 0.5rem !important; }

.margin-top {
  margin-top: 1rem !important; }

.nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__navigation {
    position: relative;
    display: flex; }
  .nav__list {
    list-style: none; }
  .nav__link {
    display: flex;
    color: #1d2d444e;
    font-weight: 600;
    margin: 0 50px;
    font-size: 1.2em;
    text-decoration: none;
    position: relative;
    transition: 0.5s; }
    .nav__link:hover {
      background-position: right center;
      color: #1d2d44; }

/* Button CSS*/
.btn {
  margin-top: 1rem;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 2px #19273c;
  border-radius: 10px;
  text-decoration: none; }
  .btn:hover {
    background-position: 100%;
    /* change the direction of the change here */ }

.btn-1 {
  background-image: linear-gradient(to right, #19273c 0%, #19273c 50%, #3e5c76 50%, #3e5c76 100%);
  overflow: hidden; }

/* End Button CSS*/
.stage_top {
  position: flex;
  content: "";
  top: 15px;
  left: 0;
  width: 15rem;
  height: 0.2rem;
  background: #19273c; }

.stage_top-header {
  position: flex;
  content: "";
  top: 15px;
  left: 0;
  width: 2rem;
  height: 0.2rem;
  margin-right: 1rem;
  background: #19273c; }

.stage_bot {
  margin-top: 2rem;
  position: flex;
  content: "";
  top: 15px;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: #19273c; }

p {
  font-weight: 600;
  color: #19273c;
  font-size: 1.2em; }

::selection {
  color: #f1faee;
  background: #023047; }

/* This card css */
.card {
  margin: 0 2rem;
  width: 330px;
  height: 225px;
  background: #f1faee;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.164);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.card-top {
  padding: 1rem; }

.card img {
  position: absolute;
  width: 100%;
  border-radius: 10px; }

.content {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0;
  padding: 0.4em 1.5em;
  font-size: 14px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transform: scale(0.9);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.164);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
  overflow: hidden;
  transition: all .4s;
  visibility: hidden; }

.content p {
  font-size: 0.8em; }

.card:hover .content {
  height: 150px;
  visibility: visible; }

/* End card  */
/* Icon card  */
.material-symbols-outlined {
  font-size: 2.2em !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.box-logo {
  background: #1d2d444e !important;
  margin-right: 12px;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  position: relative; }

/* End icon card  */
.para {
  color: #6b6b6b;
  font-size: 1em; }
